/* pinkie */
/* :root {
    --primary1-color: #f4a695;
    --primary2-color: #310b0a;
    --secondary1-color: #f3eae8;
    --secondary2-color: #887673;
    --accent-color: #efd36f;
} */

/* méhecske */
:root {
    --primary1-color: #e6d02e;
    --primary2-color: #efe66e;
    --secondary1-color: #837870;
    --secondary2-color: #f3eae8;
    --accent-color: #211407;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
}

.auth-page {
    background-color: var(--secondary2-color);
    height: 100vh;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
}

.login-form,
.register-form {
    min-width: 30vw;
    padding: 1.5rem;
    background-color: var(--secondary1-color);
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.1);
}

.login-form h1,
.register-form h1 {
    font-size: 6vmin;
    text-align: center;
    color: var(--primary1-color);
}

.form-group {
    margin: 1rem 1.1rem 1rem 0;
}

label {
    display: block;
    margin-bottom: 8px;
    color: var(--secondary2-color);
}

.auth-input {
    width: 100%;
    padding: 1rem 0 1rem 1rem;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

.auth-form-btn {
    font-size: 4vmin;
    display: block;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
    background-color: var(--primary1-color);
    color: whitesmoke;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.auth-form-btn:hover {
    background-color: var(--accent-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary1-color);
    color: var(--secondary1-color);
}

.user-circle {
    font-size: calc(3rem + 1vmin);
}

.logo {
    font-size: calc(3rem + 1vmin);
}
