.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.flex-col-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 1vmin 0 1vmin;
}

.shadowed {
    box-shadow: 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    .flex-col-container {
        align-items: center;
    }
}

@media only screen and (min-width: 600px) {
    .card {
        width: 20vw;
    }
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
}

.login-form,
.register-form {
    min-width: 30vw;
    padding: 1.5rem;
    background-color: moccasin;
    border-radius: 0.5rem;
}

.login-form h1,
.register-form h1 {
    color: lightsalmon;
    margin-top: 3vh;
    font-size: 6vmin;
    text-align: center;
}

.form-group {
    margin: 1rem 1.1rem 1rem 0;
}

label {
    display: block;
    margin-bottom: 8px;
}

.auth-input {
    width: 100%;
    padding: 0.8rem 0 0.8rem 0.8rem;
    border: 2px solid var(--accent-color);
    border-radius: 4px;
}

.auth-form-btn {
    font-size: 4vmin;
    display: block;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
    background-color: lightsalmon;
    color: whitesmoke;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.auth-form-btn:hover {
    color: lightsalmon;
    background-color: whitesmoke;
    outline: solid 2px lightsalmon;
    transition: 0.2s linear;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 3rem;
}

.nav-profile-btn {
    color: white;
    background-color: lightsalmon;
    padding: 7px 10px 7px 10px;
    border: none;
    border-radius: 0.5rem;
    margin-top: 5px;
}

.user-profile {
    background-color: moccasin;
    padding: 0.5rem;
    border-radius: 1rem;
}

.user-circle {
    color: white;
    font-size: calc(3rem + 1vmin);
}

.logo-container {
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: moccasin;
}

.logo-img {
    height: 3rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(267deg)
        brightness(103%) contrast(104%);
}

.create-btn {
    background-color: moccasin;
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-radius: 1rem;
}

.btn-create-icon {
    color: lightsalmon;
    font-size: xx-large;
}

.card {
    background-color: moccasin;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card h2 {
    color: lightsalmon;
}

.card button {
    border: none;
    background-color: lightsalmon;
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

.btn-trash-icon {
    color: whitesmoke;
}
